{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}

<!--С базовым шаблоном я теперь могу упростить index.html, наследуя его от base.html:
Поскольку шаблон base.html теперь будет заботиться об общей структуре страницы,  index_1.html будет содержать
только необходимый контент. Оператор extends устанавливает ссылку наследования между двумя шаблонами,
так что Jinja2 знает, что когда ему предлагается визуализировать index.html, он должен встроить его в base.html.
Два шаблона имеют согласованные операторы block с именами content, и именно так Jinja2 знает, как объединить два
шаблона в один. Теперь, если мне нужно создать дополнительные страницы для приложения, я могу создать их как
производные шаблоны из одного и того же шаблона base.html, и именно так я могу иметь все страницы приложения,
которые будут одинаково выглядеть и выглядеть без дублирования.
>